name: Practice create artifacts
on: [push, workflow_dispatch]
jobs:
    test-application:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v6
            - name: setup bun environment
              uses: oven-sh/setup-bun@v2
              with:
                bun-version: latest
            - name: install bun dependencies
              run : bun install
            - name: run tests
              run: |
                echo "----------------------"
                echo "Testing with no input..."
                bun run random-number-generator.js
                echo "---------------------------"
                echo "Testing with string.."
                bun run random-number-generator.js "test-input"
                echo "---------------------------------"
                echo "Testing with number.."
                bun run random-number-generator.js 1906
                echo "---------------------------"
                echo "Generated report:"
                cat report.txt
            - name: save test report
              uses: actions/upload-artifact@v6
              with:
                name: 'test-reports'
                path: report.txt
    build-executables:
        runs-on: ubuntu-latest
        needs: test-application
        steps:
            - uses: actions/checkout@v6
            - uses: oven-sh/setup-bun@v2
              with:
                bun-version: latest
            - name: install bun dependencies
              run : bun install
            - name: create executables for all platforms
              run: bun run build
            - name: list the executables
              run: ls -la random-number-generator-*
            - name: Upload artifacts
              uses: actions/upload-artifact@v6
              with:
                name: random-number-generator-executables
                path: ./random-number-generator-* 
    test-on-linux:
        runs-on: ubuntu-latest
        needs: build-executables
        steps:
            - name: download artifacts
              uses: actions/download-artifact@v6
              with:
                name: random-number-generator-executables
            - name: make binary executable
              run: chmod +x random-number-generator-linux
            - name: run tests on linux
              run: |
                echo "----------------------"
                echo "Testing with no input..."
                bun run ./random-number-generator.js
                echo "---------------------------"
                echo "Testing with string.."
                bun run ./random-number-generator.js "test-input"
                echo "---------------------------------"
                echo "Testing with number.."
                bun run ./random-number-generator.js 1906
                echo "---------------------------"
                echo "Generated report:"
                cat report.txt
            - name: save test report
              uses: actions/upload-artifact@v6
              with:
                name: 'linux-test-reports'
                path: report.txt
        